// sidebar
$sidebar-nav-bg-color: #505050;
$sidebar-header-bg-color: #690800;
$sidebar-font-color: white;
$sidebar-font-size: 1.25rem;

//yellow box nav
$boxnav-bg-color:#f3d83f;
$boxnav-font-color: white;

// main body
$main-background-color: #f1f1f1;
$main-font: 'Lato', sans-serif; 
$font-size: 16px;
$white-bg-color: white;